<div class="panel panel-default">
  <div class="panel-heading">{{'Samochody ' + _customer.name}}</div>
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Nazwa</th>
        <th>Silnik</th>
        <th>VIN</th>
        <th>Nr rejestracyjny</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input type="text" class="form-control" placeholder="Nazwa" [(ngModel)]="newCar.name"/>
        </td>
        <td><input type="text" class="form-control" placeholder="Silnik" [(ngModel)]="newCar.engine"/></td>
        <td><input type="text" class="form-control" placeholder="VIN" [(ngModel)]="newCar.vin"/></td>
        <td><input type="text" class="form-control" placeholder="Nr rejestracyjny"
                   [(ngModel)]="newCar.registrationNumber"/></td>
        <td>
          <button class="btn btn-primary" (click)="saveCar()">Zapisz</button>
        </td>
      </tr>
      <tr class="link" [ngClass]="{'active': car === selectedCar}" *ngFor="let car of cars"
          (click)="selectCar(car)">
        <td>{{car.name}}</td>
        <td>{{car.engine}}</td>
        <td>{{car.vin}}</td>
        <td>{{car.registrationNumber}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteCar(car)">Usuń</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
