<div class="panel panel-default">
  <div class="panel-heading">
    <div class="form-inline">
      <label>Klienci</label>
      <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="customerFilterText" placeholder="Szukaj"/>
        <span class="input-group-btn">
        <button class="btn btn-default" (click)="showCustomerForm($event, modal)">Nowy klient</button>
      </span>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-bordered">
      <thead>
      <tr>
        <th>Nazwa</th>
        <th>Adres</th>
        <th>NIP/PESEL</th>
        <th>Numer telefonu</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr class="link" [ngClass]="{'active': customer === selectedCustomer}" (click)="selectCustomer(customer)"
          *ngFor="let customer of customers | customerFilter: customerFilterText">
        <td>{{customer.name}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.identifier}}</td>
        <td>{{customer.telephoneNumber}}</td>
        <td>
          <button class="btn btn-primary btn-table" (click)="showCustomerForm($event, modal, customer)">
            Edytuj
          </button>
        </td>
        <td>
          <button class="btn btn-danger btn-table" (click)="$event.stopPropagation();deleteCustomer(customer)">
            Usuń
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<bs-modal #modal (onClose)="customerForm.reset()" (onDismiss)="customerForm.reset()">
  <bs-modal-header>
    <h4 class="modal-title">Klient</h4>
  </bs-modal-header>
  <form (ngSubmit)="submitCustomerForm(modal, customerForm.value)" [formGroup]="customerForm">
    <bs-modal-body>
      <div class="form-group" [ngClass]="{'has-error': name.invalid && (name.dirty || name.touched)}">
        <input type="text" name="name" placeholder="Imię i nazwisko lub nazwa firmy" class="form-control"
               required="required" formControlName="name"/>
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
          <span class="help-block" *ngIf="name.errors.required">To pole jest wymagane</span>
        </div>
      </div>
      <div class="form-group">
        <input type="text" name="address" placeholder="Adres" class="form-control" formControlName="address">
      </div>
      <div class="form-group">
        <input type="text" name="identifier" placeholder="NIP/PESEL" class="form-control" formControlName="identifier"/>
      </div>
      <div class="form-group"
           [ngClass]="{'has-error': telephoneNumber.invalid && (telephoneNumber.dirty || telephoneNumber.touched)}">
        <input type="text" name="telephoneNumber" placeholder="Numer telefonu" class="form-control"
               formControlName="telephoneNumber"/>
        <div *ngIf="telephoneNumber.invalid && (telephoneNumber.dirty || telephoneNumber.touched)">
          <span class="help-block" *ngIf="telephoneNumber.errors.pattern">Wpisz poprawny numer telefonu</span>
        </div>
      </div>
    </bs-modal-body>
    <bs-modal-footer>
      <button class="btn btn-primary" type="submit" [disabled]="customerForm.invalid">
        Zapisz
      </button>
      <button class="btn btn-default" type="button" (click)="modal.dismiss()">Anuluj</button>
    </bs-modal-footer>
  </form>
</bs-modal>
