<ng-progress [showSpinner]="false" [thick]="true"></ng-progress>
<main class="container-fluid" style="margin-top: 10px">
  <div
    [ngClass]="{'col-md-12': selectedCustomer === null, 'col-md-6': selectedCustomer !== null && selectedCar === null, 'col-md-3': selectedCustomer !== null && selectedCar !== null}">
    <app-customers-table (customerSelected)="handleCustomerSelected($event)"></app-customers-table>
  </div>
  <div *ngIf="selectedCustomer !== null"
       [ngClass]="{'col-md-6': selectedCar === null, 'col-md-3': selectedCar !== null}">
    <app-cars-table [customer]="selectedCustomer" (carSelected)="handleCarSelected($event)"></app-cars-table>
  </div>
  <div *ngIf="selectedCar !== null" class="col-md-6">
    <app-repairs-table [car]="selectedCar"></app-repairs-table>
  </div>
</main>
